<%= form_for :session, url: login_path, html: { class: "border border-light p-5" } do |f| %>
  <p class="h4 mb-4 text-center">Sign in</p>

  <div class="form-group">
    <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
  </div>
  <div class="form-group">
    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
  </div>
  <%= f.submit "Sign in", class: "btn btn-info btn-block my-4" %>

  <p class="text-center">or sign in with: <%= link_to "Github", "/auth/github" %></p>
  <p class="text-center">Not a member? <%= link_to "Register", new_user_path %></p>
<% end %>


