<%= form_for :session, html: { class: "form" }, url: login_path do |f| %>
  <h1 class="form-title">Sign in</h2>

  <%= f.text_field :username, class: "form-input", placeholder: "Username", autofocus: true %>
  <%= f.password_field :password, class: "form-input", placeholder: "Password" %>
  <%= f.submit "Sign in", class: "btn" %>

  <h4 class="form-alt">or sign in with: <%= link_to "Github", "/auth/github" %></h4>
  <h4 class="form-alt">Not a member? <%= link_to "Register", new_user_path %></h4>
<% end %>


