<ul class="list-unstyled w-75">
  <% @book.comments.each do |comment| %>
    <li class="media">
      <div class="media-body">
        <span class="mt-0"><%= comment.user.username %></span>
        <span class="post-time float-right"><%= comment.posted_at %></span>
        <blockquote><%= comment.content %></blockquote>
      </div>
    </li>
  <% end %>
</ul>


<div class="container comment-form">
  <%= form_for @book.comments.build do |f| %>
    <%= f.hidden_field :id, value: @book.id %>
    <%= f.text_area :content, placeholder: "Enter comment...", class: "form-control w-75" %><br>
    <%= f.submit "Add comment", id: "comment-btn", class: "btn btn-primary" %>
  <% end %>
</div>



