<%= form_for @book, html: { class: "form" } do |f| %>
  <h1 class="form-title">New/Edit Book</h1>

  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@book.errors.count, "error") %> prohibited this article from being saved</h3>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.text_field :title, class: "form-input", placeholder: "title" %>
  <%= f.text_field :author_full_name, class: "form-input", placeholder: "Author's full name" %><br>
  <%= f.text_field :genre_name, class: "form-input", placeholder: "Genre name" %><br>
  <%= f.text_field :release_year, class: "form-input", placeholder: "Release year" %><br>
  
  <%= f.submit class: "btn" %>
<% end %>
