<%= form_for @book do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@book.errors.count, "error") %> prohibited this article from being saved</h3>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control md-4", placeholder: "title" %>
  </div>
  <div class="form-group">
    <%= f.label :author %>
    <%= f.collection_select :author_id, Author.all, :id, :full_name, {}, class: "form-control md-4" %>
  </div>
  <div class="form-group">
    <%= f.label :genre %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name, {}, class: "form-control md-4" %>
  </div>
  <div class="form-group">
    <%= f.label :release_date %>
    <%= f.text_field :release_date, type: "date", class: "form-control md-4" %>
  </div>

  <%= f.submit "Add book", class: "btn btn-info btn-block my-4" %>
<% end %>