    <!-- Jumbotron Header -->
<header class="jumbotron my-4">
  <h1 class="display-3">A Warm Welcome!</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
  <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
</header>

<div class="row text-center">
  <% @books.each do |book| %>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <%= image_tag "books/book-" + rand(1..11).to_s + ".jpg", size: "253x177", class: "card-img-top", alt: "" %>
        <div class="card-body">
          <h4 class="card-title"><%= book.title %></h4>
          <p class="card-text">
            Author: <%= link_to titleize(book.author), author_books_path(book.author) %><br />
            Genre: <%= link_to book.genre.name, genre_path(book.genre_id) %><br />
            Release year: <%= link_to book.release_year, "#" %>
          </p>
        </div>
        <div class="card-footer">
          <%= link_to "Details", author_book_path(book.author_id, book.id), "data-id": "#{book.author_id} #{book.id}", class: "btn btn-primary" %>
        </div>
      </div>
    </div>

    <img src="" alt="">
  <% end %>  
</div>

<script type="text/javascript">
  // fetch("http://localhost:3000/authors/1/books/1.json")
  //   .then(response => response.json())
  //   .then(data => data);

  const km = document.querySelectorAll('.btn.btn-primary')[1];
  km.addEventListener('click', (e) => {
    e.preventDefault();
    const anchor = e.target;
    fetch(anchor.href + ".json")
      .then(response => response.json())
      .then(book => {
        document.body.innerHTML = `
        <div id="show-img" class="col-sm-2">
          <img src="/assets/books/book-4.jpg" width="200" height="300" class="rounded float-left">
        </div>
         <div class="row book-show">
          <div id ="book-info" class="col-sm-10">
            <h2>${book.title}</h2>
            <h5>${book.author.full_name}</h5>
            <p>
              Genre: ${book.genre.name}<br>
              Release date: ${book.release_year}
            </p>
          </div>
         </div>
        `
      });
  });

  
</script>



