<div class="current-page">
  <h2 class="heading">
    <% if params[:author_id] %>
      Books by <span id="author"><%= Author.find(params[:author_id]).full_name %></span> 
    <% else %>
      Home
      <h3>
        <% book = Book.latest.first %>
        <%= link_to "Check out latest book", author_book_path(book.author, book) %>
      </h3>
    <% end %>
  </h2>
</div>


<div class="container">
  <% @books.each do |book| %>
    <div class="book-content">
      <h3><%= link_to book.title, author_book_path(book.author, book) %></h5>
      <p>
        Author: <%= link_to titleize(book.author), author_books_path(book.author) %><br />
        Genre: <%= link_to book.genre.name, root_path %><br />
        Release year: <%= link_to book.release_year, root_path %><br />
      </p>
    </div>
  <% end %>
</div>


