    <!-- Jumbotron Header -->
<header class="jumbotron my-4">
  <h1 class="display-5">Welcome to Bookery</h1>
  <p class="lead">Share your favorite books and find your next read</p>
</header>

<div class="row text-center">
  <% @books.each do |book| %>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <%= image_tag "books/book-" + rand(1..11).to_s + ".jpg", size: "200x150", class: "card-img-top", alt: "" %>
        <div class="card-body">
          <h4 class="card-title"><%= book.title %></h4>
          <p class="card-text">
            Author: <%= link_to titleize(book.author), author_path(book.author_id), data: { id: book.author_id }, class: "author-link" %><br />
            Genre: <%= link_to book.genre.name, genre_path(book.genre_id) %><br />
            Release year: <%= link_to book.release_year, "#" %>
          </p>
        </div>
        <div class="card-footer">
          <%= link_to "Details", author_book_path(book.author_id, book.id), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>  
</div>



