<h3>
  <% if params[:author_id] %>
    Books by <%= Author.find(params[:author_id]).full_name %>
  <% else %>
    Home  
  <% end %>
</h3>

<div class="row">
  <% @books.each do |book| %>
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title"><%= link_to book.title, author_book_path(book.author, book) %></h5>
          <p class="card-text">
          Author: <%= link_to book.author.full_name, author_books_path(book.author) %><br />
          Genre: <%= link_to book.genre.name, root_path %><br />
          Release date: <%= book.release_date %><br />
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  <% end %>
</div>







