<h3 class="heading">
  <% if params[:author_id] %>
    Books by <%= Author.find(params[:author_id]).full_name %>
  <% else %>
    Home  
  <% end %>
</h3>

<div class="container">
  <% @books.each do |book| %>
    <div class="book-content">
      <h3><%= link_to book.title, author_book_path(book.author, book) %></h5>
      <p>
        Author: <%= link_to book.author.full_name, author_books_path(book.author) %><br />
        Genre: <%= link_to book.genre.name, root_path %><br />
        Release date: <%= link_to book.release_date, root_path %><br />
      </p>
    </div>
  <% end %>
</div>


