<div class="current-page">
  <h2 class="heading">
    <% if params[:author_id] %>
      Books by <span id="author"><%= Author.find(params[:author_id]).full_name %></span> 
    <% else %>
      Home
      <h3><%= link_to "Check out the latest book", author_book_path(@latest_book.author, @latest_book) %></h3>
    <% end %>
  </h2>
</div>

<div class="container">
  <% @books.each do |book| %>
    <div class="book-content">
      <h3><%= link_to book.title, author_book_path(book.author, book) %></h5>
      <p>
        Author: <%= link_to titleize(book.author), author_books_path(book.author) %><br />
        Genre: <%= link_to book.genre.name, genre_path(book.genre_id) %><br />
        Release year: <%= link_to book.release_year, "#" %>
      </p>
    </div>
  <% end %>
</div>


