<div class="row book-show">
  <div id="show-img" class="col-sm-2">
    <%= image_tag "books/book-4.jpg", size: "200x300", class: "rounded float-left", alt: "hunter-newton" %>
  </div>
  <div id ="book-info" class="col-sm-10">
    <h2 id= "book-title"><%= @book.title %></h2>
    <h5>by <%= titleize(@book.author) %></h5>
    <p>
      Genre: <span id="genre"><%= @book.genre.name %></span><br>
      Release date: <span id="release"><%= @book.release_year %></span>
    </p>
    <%= link_to "Edit", edit_author_book_path(@book.author, @book), class: 'btn btn-primary' %>
    <%= link_to "Delete", @book, method: :delete, class: 'btn btn-danger' %><br>
    <button data-author="<%= @book.author_id%>" data-book="<%= @book.id %>" class="btn btn-success">More books from <%= titleize(@book.author) %></button>
  </div>
</div>
 
<%= render 'comments' %>


