<div class="container">

  <%= image_tag "hunter-newton.jpg", class: "img-thumbnail float-left", alt: "hunter-newton" %>
  <h2><%= @book.title %></h2>
  <h5>by <%= @book.author.full_name %></h5>
  <p id="pushdown">
    Genre: <%= @book.genre.name %><br>
    Release date: <%= @book.release_date %>
  </p>

  <div class="border border-dark p-5" id="comments-section">
    <h5 class="text-center">Discussion Box</h5>
    <% @book.comments.each_with_index do |comment, idx| %>
      <% if idx.even? %>
        <div class="card border-danger md-3" id="comment-card">
      <% else %>
        <div class="card border-info md-3" id="comment-card">
      <% end %>
          <div class="card-body">
            <p class="card-title font-italic"><%= comment.user.username %> says:</p>
            <p class="card-text"><%= comment.content%></p>
          </div>
        </div>
    <% end %>

    <div>
      <%= form_for @book.comments.build do |f| %>
        <%= f.hidden_field :id, value: @book.id %>
        <%= f.text_area :content, class: "form-control" %>
        <%= f.submit "Add comment", class: "btn btn-info btn-block my-4" %>
      <% end %>
    </div>
  </div>
</div>

