<p>
  Title: <%= @book.title %><br />
  Author: <%= @book.author.full_name %><br />
  Genre: <%= @book.genre.name %><br />
  Release date: <%= @book.release_date %><br />
</p>

<p>
  <%= link_to "Delete", @book, method: :delete, data: { confirm: "Are you sure?" } %>
</p>