 <div class="show-flex">
  <div class="image-container">
    <%= image_tag "hunter-newton.jpg", class: "book-img", alt: "hunter-newton" %>
  </div>
  <div class="book-info">
    <h2><%= @book.title %></h2>
    <h5>by <%= titleize(@book.author) %></h5>
    <p id="pushdown">
      Genre: <%= @book.genre.name %><br>
      Release date: <%= @book.release_year %>
    </p>
    <%= link_to "Edit", edit_author_book_path(@book.author, @book), class: 'btn show' %>
    <%= link_to "Delete", @book, method: :delete, class: 'btn show' %>
  </div>
 </div>
 
<%= render 'comments' %>


