<nav id="navbar">
  <h1 id="logo"><%= link_to "Bookery", root_path %></h1>
  <ul>
    <% if logged_in? %>
      <li class="nav-item">
        <%= link_to "hi, #{current_user.username}", user_path(current_user) %> 
      </li>
      <li class="nav-item">
        <% if author = Author.find_by(id: params[:author_id]) %>
          <%= link_to "Add Book", new_author_book_path(author) %>
        <% else %>
          <%= link_to "Add Book", new_book_path %>
        <% end %>
      </li>
    <% end %>
    <li class="nav-item">
      <%= link_to "Home", root_path %>
    </li>
    <li class="nav-item">
      <% if logged_in? %>
        <%= link_to "Sign Out", logout_path, method: :delete %> 
      <% else %>
        <%= link_to "Sign In", login_path %>
      <% end %>  
    </li>
  </ul>
</nav>